@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.mymodel {
    width: 100%;
    background-color: rgba(66, 66, 71, 0.424);
    box-shadow: 0 0 10px blue;
    backdrop-filter: blur(5px);
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    position: fixed;
    flex-direction: column;

}

.modelmsg {
    color: rgb(114, 0, 0);
    text-align: center;
    /* width: 100%; */
    font-size:1.3rem;
}


@media only screen and (max-width: 768px) {
    .modelmsg {
        font-size: 1rem;
        width: 15rem;
    }

}
.modelbody{
    width: 50vh;
    background-color: azure;
    height: 50vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
    padding: 30px;
}
@media only screen and (max-width: 468px) {
    .modelbody {
        width: 40vh;
        width: 40vh;
    }

}
.home--{
    width: 100%;
    height: 100vh;
    
}
